*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/src/androidTest/java/mvpdemo/rajnit/com/mvpblogdemo
app/src/test/java/mvpdemo/rajnit/com/mvpblogdemo
